---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nexus-data
  namespace: {{ nexus_namespace }}
  labels:
    app: nexus
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ nexus_storage_class }}
  resources:
    requests:
      storage: {{ nexus_storage_size }}
