---
apiVersion: v1
kind: Service
metadata:
  name: nexus
  namespace: {{ nexus_namespace }}
  labels:
    app: nexus
spec:
  type: ClusterIP
  ports:
    - name: http
      port: {{ nexus_service_port }}
      targetPort: 8081
      protocol: TCP
  selector:
    app: nexus
